@{
    ViewBag.Title = "Lager Manager";


}

<div class="row">
    <div id="Lieferanten">

        @{ Html.RenderAction("Index", "Lieferanten"); }

    </div>
</div>
<div class="row">
    <div id="Paletten"> </div>
</div>
<div class="row">
    <div id="Artikel"> </div>
</div>