@{
    ViewBag.Title = "Lager Manager";


}

<div class="row">
    <div id="Lieferanten">

        @{ Html.RenderAction("Index","Lieferanten");  }

    </div>
</div>
<div class="row">
    <div id="Paletten">
        TODO Paletten nach Auswahl eines Lieferanten anzeigen, bearbeiten und exportieren
    </div>
</div>
