@{
    ViewBag.Title = "Home Page";


}

<div class="row">
    <div id="Lieferanten">

        @{ Html.RenderAction("Index","Lieferanten");  }

    </div>
</div>
<div class="row">
    blub blub
</div>
